# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user

# Generated Visual Studio solution
*.sln

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store